# ===============================
# GCP
# ===============================

PROJECT_ID=your-project-id
GCP_REGION=asia-southeast2

BUCKET_NAME=your-gcs-bucket-name


# ===============================
# LOCAL BATCH DATA
# ===============================

INPUT_DATA_PATH=your-local-citibike-data-path

OUTPUT_DATA_PATH=data/processed/raw/batch/trips

FILE_PATTERN=JC-*-citibike-tripdata.csv


# ===============================
# GCS DATA LAKE
# ===============================

GCS_RAW_BATCH_PATH=raw/batch/trips

GCS_DATAFLOW_TEMP_PATH=temp/dataflow
GCS_DATAFLOW_STAGING_PATH=staging/dataflow


# ===============================
# STREAMING SOURCE
# ===============================

STATION_STATUS_URL=https://gbfs.lyft.com/gbfs/2.3/bkn/en/station_status.json

STATION_INFORMATION_URL=https://gbfs.lyft.com/gbfs/2.3/bkn/en/station_information.json

STREAM_INTERVAL=60


# ===============================
# PUBSUB
# ===============================

PUBSUB_INPUT_TOPIC=your-pubsub-topic-name

PUBSUB_SUBSCRIPTION=your-pubsub-subscription-name


# ===============================
# AVRO
# ===============================

AVRO_SCHEMA_PATH=scripts/streaming/schemas/station_status_event.avsc


# ===============================
# DATAFLOW
# ===============================

DATAFLOW_JOB_NAME=your-dataflow-job-name


# ===============================
# BIGQUERY DATASETS
# ===============================

BQ_STAGING_DATASET=your-staging-dataset

BQ_SILVER_DATASET=your-silver-dataset

BQ_GOLD_DATASET=your-gold-dataset


# ===============================
# BIGQUERY STREAM TABLES
# ===============================

BQ_STREAM_VALID_TABLE=fact_valid_stream_station_event

BQ_STREAM_INVALID_TABLE=fact_invalid_stream_station_event

BQ_STREAM_VALID_SCHEMA_PATH=scripts/streaming/schemas/valid_data_events_stream.json

BQ_STREAM_INVALID_SCHEMA_PATH=scripts/streaming/schemas/invalid_data_events_stream.json


# ===============================
# BIGQUERY BATCH TABLES
# ===============================

BQ_BATCH_STAGING_TABLE=fact_citibike_trips_stg


# ===============================
# POSTGRES DB
# ===============================

POSTGRES_SOURCE_HOST=localhost

POSTGRES_SOURCE_PORT=5932

POSTGRES_SOURCE_DB=citibike

POSTGRES_SOURCE_USER=your-postgres-username

POSTGRES_SOURCE_PASSWORD=your-postgres-password

POSTGRES_EXTRACT_SQL_PATH=sql/postgres/extract-gcs/extract_raw_citibike.sql

POSTGRES_EXTRACT_DATE_SQL_PATH=sql/postgres/extract-gcs/extract_trip_dates.sql

BATCH_START_DATE=2026-01-01

BATCH_END_DATE=2027-01-01


# ===============================
# POSTGRES AIRFLOW
# ===============================

POSTGRES_AIRFLOW_PORT=5933

POSTGRES_AIRFLOW_DB=airflow

POSTGRES_AIRFLOW_USER=your-airflow-postgres-username

POSTGRES_AIRFLOW_PASSWORD=your-airflow-postgres-password


# =====================================
# AIRFLOW
# =====================================

AIRFLOW_ADMIN_USERNAME=your-airflow-admin-username

AIRFLOW_ADMIN_PASSWORD=your-airflow-admin-password

AIRFLOW_ADMIN_EMAIL=your-email@example.com

AIRFLOW_ADMIN_FIRSTNAME=YourFirstName

AIRFLOW_ADMIN_LASTNAME=YourLastName


# =====================================
# SMTP
# =====================================

AIRFLOW_SMTP_EMAIL=your-email@example.com

AIRFLOW_SMTP_APP_PASSWORD=your-gmail-app-password

AIRFLOW__SMTP__SMTP_HOST=smtp.gmail.com

AIRFLOW__SMTP__SMTP_PORT=587

AIRFLOW__SMTP__SMTP_STARTTLS=True

AIRFLOW__SMTP__SMTP_SSL=False

AIRFLOW__SMTP__SMTP_MAIL_FROM=your-email@example.com


# =====================================
# AIRFLOW JWT / API SECRET
# =====================================

AIRFLOW_JWT_SECRET=your-airflow-jwt-secret

AIRFLOW_API_SECRET_KEY=your-airflow-api-secret-key